<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <%- include('../public/assets/const/head'); %>
</head>

<body>
    
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="notifications"></div>
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

        <%- include('../public/assets/const/nav'); %>

        <!-- Inicio de Sidebar START -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li id="index" class="sidebar-item"> <a class="sidebar-link"
                                onclick="_Admin.traerVista('index')" href="javascript:void(0)" aria-expanded="false"><i
                                    class="fas fa-home"></i><span class="hide-menu">Inicio</span></a></li>
                        <li class="list-divider"></li>
                        <% padres.forEach(function(pdr) { %>
                            <li class="nav-small-cap"><span class="hide-menu"><%= pdr.padre %></span></li>
                            <% modulos.forEach(function(hj) { %>
                                <% if(hj.padre == pdr.padre){ %>
                                    <li id="<%= hj.namemol %>" class="sidebar-item"> <a class="sidebar-link"
                                            onclick="_Admin.traerVista('<%= hj.namemol %>')" href="javascript:void(0)"
                                            aria-expanded="false"><i class="<%= hj.icono %>"></i><span
                                                class="hide-menu"><%= hj.namemol %></span></a>
                                    </li>
                                <% } %>
                            <% }); %>
                        <% }); %>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- Inicio de Sidebar END -->
        <div id="contentPage" class="page-wrapper">

        </div>
    </div>
    <%- include('../public/assets/const/footer'); %>
</body>

</html>